$break-small: 768px;

header{
	background-color: rgba(53, 81, 173, 0.93);
	padding: 10px 15px;
	nav.nav-iguanafix{
		display: flex;
		align-items: center;
		justify-content: space-between;
		.logo{
			a{
				display: inline-block;
				img{
					width: 100px;
				}
			}
			p.telephon{
				display: inline-block;
				color: #fff;
				font-size: 1.1em;
				font-weight: 500;
				margin: 0 10px;
			}
		}
		ul{
			margin: 0;
			display: inline-block;
			li{
				display: inline-block;
				a{
					color: #fff;
					padding: 0 10px;
					font-size: .8em;
					&:hover{
						color: rgba(53, 81, 173, 0.93);
						background: #fff;
						text-decoration: none;
						padding: 20px 10px;
					}
				}
			}
			#desplegable{
				ul{
					display: none;
				}
				.menu-desplegado{
					display: block;
					position: absolute;
					top: 45px;
					right: 40px;
					li{
						display: block;
						a{
							color: rgba(53, 81, 173, 0.93);
							&:hover{
								color: rgba(53, 81, 173, 0.93);
								background: none;
							}
						}
					}
				}
			}	
		}
	}
}
nav{
	ol.breadcrumb{
		padding-left: 0;
		background: none;
		text-transform: uppercase;

		li.breadcrumb-item a{
			color: #808080;
			font-size: .7em;
		}
	}
}
section#product-view{
	margin-bottom: 30px;
	.product-image{
		display: flex;
		justify-content: flex-start;
		img.produc{
			width: 450px;
			height: auto;
			margin-right: 15px;
		}
		.minify{
			flex-direction: column;
			margin-right: 25px;
			img{
				cursor: pointer;
				width: 80px;
				height: 80px;
			    display: block;
			    margin: 0 0 15px 0;
			}
		}
	}
	.datos{
		width: 30%;
		margin-left: 15px;
		display: flex;
	    flex-direction: column;
	    justify-content: space-between;
	    border-bottom: 1px solid #b3b3b3;
		.price, .pesos{
			color: #fa4183;
			font-weight: 700;
			font-size: 1.8em;
			display: inline-block;
		}
		.category-product{
			width: 90%;
			padding: 6px 3px;
			border-radius: 4px;
		}
	}
	.box{
		margin-top: 15px;
		width: 30%;
		span{
			font-size: 8px;
		}
		&:after{
			content: 'unidades';
			position: relative;
			left: 110px;
			top: -26px;
		}
	}
	button.program{
		background: #ff3f84;
		border: none;
		width: 180px;
		padding: 15px 0;
		color: #fff;
		text-transform: uppercase;
		border-radius: 30px;
	}
	ul{
		margin: 0 0 20px 0;
		padding: 0;
		li.title{
			font-weight: 800;
			font-size: 16px;
			padding: 5px 0;
		}
		li{
			padding: 5px 0;
			font-weight: 600;
			font-size: 14px;
			list-style-type: none;
		}
	}
}
section#recommended{
	margin: 0 auto;
	.accordion{
		text-align: center;
		border-bottom: 1px solid #b3b3b3;
		padding-bottom: 5px;
		h3{
			display: inline-block;
			text-transform: initial;
			font-size: 18px;
			font-weight: 800;
			margin: 5px 25px;
		}
	}
	.result, .upsell{
		width: 70%;
		margin: 70px auto;
		p:last-child{
		    margin-bottom: 75px;
		}
		.col-md-4{
			img{
				max-width: 100%;
				width: 100%;
			}
		}
		button.contract{
			background: none;
		    border: 1px solid #ff3f84;
		    width: 140px;
		    padding: 5px 0;
		    color: #ff3f84;
		    text-transform: uppercase;
		    border-radius: 30px;
		}
	}
}
footer{
	margin-top: 100px;
	background: #202020;
	&:before{
		content: "";
		border-bottom: 2px solid #000;
		width: 100%;
		position: absolute;
		display: block;
		margin-top: -3px;
	}
	.logo{
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		border-bottom: 1px solid #000;
		padding: 30px 0 10px;
		a{
			display: inline-block;
			img{
				width: 100px;
			}
		}
		ul li{
			display: inline-block;
			color: #fff;
			font-size: 1.1em;
			font-weight: 500;
			margin: 0 10px;
			a{
				color: #b3b3b3;
				&:hover{
					color: #fff;
				}
			}
		}
	}
	h4{
		color: #fff;
		font-size: 14px;
		margin-top: 30px;
		width: 10%;
		padding-bottom: 4px;
		border-bottom: 2px solid #213b5e;
		&:after{
			content: "";
			border-bottom: 2px solid #213b5e;
			width: 15%;
			position: absolute;
			display: block;
			padding-top: 7px;
		}
	}
	.footer{
		display: flex;
		justify-content: space-between;
		font-size: 1.1em;
		font-weight: 500;
		margin: 0;
		width: 70%;
		ul{
			padding: 0;
			li{
				padding: 5px 0;
				font-weight: 600;
				font-size: 14px;
				list-style-type: none;
				a{
					color: #fff;
					font-weight: 400;
					font-size: .8em;
				}
			}
		}
	}
	.copyright{
		background: #1c1c1c;
		margin-top: 50px;
		padding: 30px 0;
		p{
			color: #fff;
			display: block;
		}
		ul{
			padding: 0;
			display: block;
			li{
				display: inline-block;
				margin: 0 2px;
				img.app{
					width: 100px;
				}
				img.qr{
					width: 35px;
				}
			}
		}
		.container-copy{
			width: 85%;
		    margin: 0 auto;
		    display: flex;
		    justify-content: space-between;
		    align-items: center;
		}
	}
}

@media screen and (max-width: $break-small){
	section#product-view .product-image{
		flex-direction: column;
		#carrouselMain{
			order: -1;
			width: 90%;
			margin: 0 auto;
			height: auto;
		}
		.minify{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 0 auto;
			margin-top: 20px;
			width: 90%;
		}
		.datos{
			.options{
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				.product-name{
					margin: 0;
				}
				.price{
					margin: 0;
				}
			}
		}
	}
}